#!/bin/csh -f
foreach fcst (024 048 072 096 120 144 168 192 216)

cat>vname_f${fcst}.ctl<<EOF
DSET ^vname_f${fcst}.gdat
title daily total precip
undef 9.999e+20
options little_endian
xdef  num_x linear  beg_x  delt_x
ydef  num_y linear  beg_y  delt_y
zdef 1 levels 1000
tdef   num_t linear   01JUN2017   1dy
vars 1
vname 1   t,z,y,x  Daily total precip unit: mm/day
endvars
EOF

end
