#!/bin/csh -f
foreach fcst (024 048 072 096 120 144 168 192 216)

cat>vnamep.vs.vnamecwv_PDF.f${fcst}.ctl<<EOF
DSET ^vnamep.vs.vnamecwv_PDF.f${fcst}.gdat
title FV3GFS vnamep vs vnamecwv
undef 9.999e+20
options little_endian
xdef     1 linear    0.000  1.000
ydef     1 linear    0.000  1.000
zdef 1 levels 1000
* number of bins
tdef   nbb linear   01JUN2017   1dy
vars 1
p  1 99 vnamep [mm day-1] as a function of vnamecwv [mm]
endvars
EOF

cat>vnamep.PDF.f${fcst}.ctl<<EOF
DSET ^vnamep.PDF.f${fcst}.gdat
title FV3GFS PDF of vnamep
undef 9.999e+20
options little_endian
xdef     1 linear    0.000  1.000
ydef     1 linear    0.000  1.000
zdef 1 levels 1000
* number of bins
tdef   npp linear   01JUN2017   1dy
vars 1
p  1 99 PDF of vnamep [mm day-1]
endvars
EOF

end

foreach fcst (000 024 048 072 096 120 144 168 192 216)
cat>vnamecwv.PDF.f${fcst}.ctl<<EOF
DSET ^vnamecwv.PDF.f${fcst}.gdat
title FV3GFS PDF of vnamecwv (or PW)
undef 9.999e+20
options little_endian
xdef     1 linear    0.000  1.000
ydef     1 linear    0.000  1.000
zdef 1 levels 1000
* number of bins
tdef   nbb linear   01JUN2017   1dy
vars 1
p  1 99 PDF of vnamecwv [mm]
endvars
EOF
end
