#!/bin/csh -f
foreach fcst (000 024 048 072 096 120 144 168 192 216)

cat>vnameinput.vs.vnamecwv_PDF.f${fcst}.ctl<<EOF
DSET ^vnameinput.vs.vnamecwv_PDF.f${fcst}.gdat
title FV3GFS vnameinput vs vnamecwv
undef 9.999e+20
options little_endian
xdef     1 linear    0.000  1.000
ydef     1 linear    0.000  1.000
zdef num_selz1 levels 1000 975 950 925 900 850 800 750 700 650 600 550 500 450 400 350 300 250 200
* number of bins
tdef   nbb linear   01JUN2017   1dy
vars 1
p  num_selz1 99 vnameinput as a function of vnamecwv [mm]
endvars
EOF

end
