* GrADS script to plot 2D precipitation
'reinit'
'set display white'
'c'

name.1='(a) modelnm Day1 (mm day`a-1`n)'
name.2='(b) Day3-Day1 (mm day`a-1`n)'
name.3='(c) Day5-Day1 (mm day`a-1`n)'
name.4='(d) Day7-Day1 (mm day`a-1`n)'
name.5='(d) Day9-Day1 (mm day`a-1`n)'

var='vname'


'set vpage 0 8.5 0 11'

xx1=-180
xx2=180
yy1=-20
yy2=35

'run homedir/src/blue_red.gs'
inpath='homedir/'
'open 'inpath'vname_f024.ctl'
'open 'inpath'vname_f072.ctl'
'open 'inpath'vname_f120.ctl'
'open 'inpath'vname_f168.ctl'
'open 'inpath'vname_f216.ctl'

ch.1='(a) modelnm Day1'
ch.2='(b) Day3-Day1'
ch.3='(c) Day5-Day1'
ch.4='(d) Day7-Day1'
ch.5='(e) Day9-Day1'

ttl='Average daily precip (mm day`a-1`n) (JJA 2017)'

k=1
y1=9.1;y2=10.5;dy=1.7;dy2=2.1
k=1;j=1;while(j<=5)
x1=1.5;x2=7;dx=4.
i=1;while(i<=1)

'set grads off';'set grid off'
'set parea 'x1' 'x2' 'y1' 'y2
'set ylint 10';'set xlint 30'
'set gxout shaded'
'set font 1'
'set xlopts 1 4 0.12'
'set ylopts 1 4 0.12'
'set lon 'xx1' 'xx2''
'set lat 'yy1' 'yy2''

if(k=1)
'set dfile 'k
'set csmooth on'
'set clevs 3 6 9 12 15 18 21 24 27'
'set ccols 0 41 42 43 44 45 46 47 48 49'
t0=10-1
t1=92-1
'define p'k'=ave('var',t='t0',t='t1')*4'
'd p'k''
endif

if(k>1)
'set clab on'
'set dfile 'k
'set clevs -5 -4 -3 -2 -1 1 2 3 4 5'
'set ccols 35 36 37 38 39 0 42 43 44 45 46'
t1=10-k+1-1
t2=92-k+1-1
'define p'k'=ave('var',t='t1',t='t2')*4'
'd (p'k'-p1)'
endif

'set string 1 bl 3'
'set strsiz 0.13'
'draw string 'x1' 'y2-0.1' 'ch.k
'set string 1 bc 3'
'set strsiz 0.11'
'draw string 'x1+1.85' 'y1-0.4' '

if(k=1)
'run homedir/src/cbar-g3.gs 1 3 0 4.25 'y1-0.3' 1 4 0.8'
'set string 1 bl 3'
'draw string 7.8 'y1-0.66' '
endif
if(k=5)
'run homedir/src/cbar-g3.gs 1 3 0 4.25 'y1-0.3' 1 4 0.8'
'set string 1 bl 3'
'draw string 'x1+4.6' 'y1-0.66' '

'set string 1 bc 3'
'set strsiz 0.14'
'draw string 4.25 10.7 'ttl
endif

k=k+1;i=i+1;x1=x1+dx;x2=x2+dx
endwhile
j=j+1
if(j=2)
y1=y1-dy2;y2=y2-dy2
else
y1=y1-dy;y2=y2-dy
endif
endwhile




'gxprint vname.modelnm.2D.pdf'
*'reinit'
